html {
  font-family: "Noto Sans";
  text-align: justify;
}

body {
  color: black;
}

.quarto-title-block .quarto-title-banner {
  background-color: #27445C;
  background-image: url("logo_pathogenomics.png");
  background-size: 100px;
  background-position: right;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding-right: 10px;
  background-blend-mode: normal;
  filter: none;
  mix-blend-mode: normal;
  color: white;
}
.quarto-title-block .quarto-title-banner .title,
.quarto-title-block .quarto-title-banner p {
  color: inherit;
  -webkit-text-fill-color: inherit;
  opacity: 1;
}

h1, h2, h3 {
  text-align: left;
  font-weight: bold;
  color: #27445C
}

#quarto-sidebar-toc-left {
  text-align: left;
}

.header-section-number {
  color: #27445C
}
